.header__logo {
  max-height: 33px;
  max-width: 142px;
  padding: 0;
  margin: 45px 0 41px 0;

}

@media screen and (max-width: 320px) {
  .header__logo {
    min-height: 24.396305084228516px;
    max-width: 103.7361831665039px;
    margin: 28px 0 31px 27px;
  }
}