.header {
  padding: 45px 19px 41px 19px;
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, .7);
  border-bottom-color: #545454;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 28px 19px 31.6px 27px;
  }
}