.popup__container {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-self: center;
  max-width: 430px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 530px) {
  .popup__container {
    max-width: 282px;
  }
}