.element__caption_icon {
  min-height: 19px;
  max-width: 22px;
  align-self: center;
  width: 100%;
  margin: 0;
  background: no-repeat;
  background-image: url('/image/Group.svg');

}

.element__caption_icon:hover {
  opacity: .6;
}

.element__caption_icon:active {
  background-image: url('/image/Union.svg');
  opacity: 1;
}