.form {
  display: flex;
  /* min-height: 93px; */
  padding: 0;
  /* margin: 0; */
  border: 0;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .form {
    margin: 46px 0 0 0;
  }
}