.popup__button_submit {

  min-height: 18px;
  max-width: 109px;


  font-size: 18px;
  font-weight: 400;
  border: 0;
  color: white;
  background-color: black;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 530px) {
  .popup__button_submit {
    max-width: 74px;
    font-size: 14px;
    line-height: 44px;
  }
}