.card__description {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}